

<div class="row">
  <div *ngFor="let product of userList" class="col-xl-3 col-lg-3 col-md-4 col-sm-12 mt-4">
      <div>
          <div class="card" style="width: 18rem;">
            <img src="{{product.image_url}}"  class="card-img-top" height="300">
              <div class="card-body">
              <h5 class="card-title">{{product.name}} {{product.price | currency:'INR'}}</h5>
              <p class="card-text">{{product.desc}}</p>
              <a class="btn btn-primary">Delete from cart</a>
              </div>
          </div>
      </div>
  </div>
</div>

