<div class="container">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        
         
       
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">name</label>
          <input type="text" class="form-control" formControlName="name" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Type</label>
          <input type="text" class="form-control" formControlName="type" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Image Url</label>
          <input type="text" class="form-control" formControlName="image_url" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Description</label>
          <input type="text" class="form-control" formControlName="desc" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">product Category</label>
          <input type="text" class="form-control" formControlName="productCategory" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Price</label>
          <input type="text" class="form-control" formControlName="price" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Vendor</label>
          <input type="text" class="form-control" formControlName="vendor" id="exampleInputPassword1">
        </div>
        
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>